<header class="header-container fixed-top">
    <nav  class="header navbar navbar-expand-sm">
        <!-- Primer espacio -->
        <ul class="navbar-item flex-row">
            <li class="nav-item align-self-center page-heading">
                <div class="page-header">
                    <div class="page-title">
                        <a href="/homeAdmin" class="tittleNav"><img src="{{ url_for('static', filename='img/radio.svg') }}" alt="" width="5%"> ConferExpo</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Segundo espacio -->
        <ul class="navbar-item flex-row search-ul">
            <li class="nav-item">
                <a class="nav-link active color1w" id="icon-pills-home-tab" data-toggle="pill" href="/usersList" role="tab" aria-controls="icon-pills-home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Iniciar sesión</a>
            </li>                         
        </ul>
    </nav>
</header>
