.label-grande {
    font-size: 20px important;
}

.card-container-card {
    display: flex; /* Utiliza flexbox para controlar la distribución de las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye el espacio disponible entre las tarjetas */
}

.imagen-grande {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    height: auto; /* Hace que la altura de la imagen se ajuste automáticamente para mantener la proporción */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 18px; /* Agrega un borde redondeado de 10px */
}

.blockquote pre {
    font-family: inherit; /* Hereda la fuente del elemento padre (blockquote) */
    font-size: inherit; /* Hereda el tamaño de fuente del elemento padre (blockquote) */
    line-height: inherit; /* Hereda la altura de línea del elemento padre (blockquote) */
    margin: 0; /* Elimina cualquier margen que pueda tener el elemento <pre> */
    white-space: pre-wrap; /* Conserva los saltos de línea y los espacios en blanco */
}

.qr-code-img-details {
    max-width: 100%; /* Para evitar que la imagen se expanda más allá del ancho del contenedor */
    height: auto; /* Para mantener la relación de aspecto de la imagen */
}

/* Estilo predeterminado para pantallas grandes, como laptops */
video {
    width: 65%;
    height: auto;
    border-radius: 18px;
}

/* Consulta de medios para pantallas de tamaño medio, como tabletas */
@media only screen and (max-width: 1024px) {
    video {
        width: 95%;
    }
}

/* Consulta de medios para pantallas pequeñas, como teléfonos móviles */
@media only screen and (max-width: 600px) {
    video {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .content {
      margin: 0 auto; /* Esto centrará el contenido en dispositivos móviles */
    }
  }

  .blanco-y-negro {
    filter: grayscale(100%);
}
